#crawl-container {
    position: relative;
    height: 100%;
    width: 550px;
    margin-top: 60px;
    perspective: 4000px;
    /* background-color: blue; */
}

#crawlGuard {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    width: 30px;
    height: 100%;
    background: rgba(100,100,100,0.5); 
    transform-style: preserve-3d;
    transform-origin: 100%;
    transform: translateX(-100%) rotateY(80deg);
      /* backface-visibility: hidden; */
    background-color: red;  
    z-index: 10;
}

#crawl {
    /* padding: 30px; */
    position: absolute;
    border: 1px solid black;
    width: 400px;
    height: 100%;
    /* background: rgba(100,100,100,0.5);  */
    transform-style: preserve-3d;
    transform-origin: 100%;
    backface-visibility: hidden;
    /* background-color: gray; */
    perspective: 400px;
}
  
#icons {
    border-style: outset;
}

#badgeCoat {
    height: 150%;
    z-index: -10;
    top: -25px;
    min-width: 1700px;
    filter: grayscale(100%);
    position: absolute;
}