.loopUnderstood, .loopUsed, .loopLoading {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;  
	flex-wrap: wrap;
	flex: 1;
	max-width: 300px;
	min-width: 300px;
}  
.naver {
	display: flex; 
	justify-content: space-around; 
	flex-wrap: wrap;
	width: 35%;
}
.bord > h2 {
	text-align: center;
}
.badges {
	margin: 5px;
}
.float {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;   
	flex-wrap: wrap;
}
.bord {
	display: flex;
	flex-direction: column;
}
html {
	height: 100%;
}
body {
	overflow: auto;
}
.school, .purp, .theLib {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.resume {
	min-width: 200px; 
	width: 95%; 
	min-height: 520px; 
	background-image: url('./images/jpgresume.jpg'); 
	background-position: center; 
	background-size: cover;
	background-position: center;
}
.school {
	background-image: url('./images/img_class.jpg');
	min-height: 100vh;
}

.theLib {
	background-image: url('./images/library.jpg');
	filter: blur(3px);
	min-height: 400px;
	width: 100%;
}

.downRes {
	width: 100%; 
	display: flex; 
	justify-content: center; 
	position: relative;
}
.tooltiptext {
	opacity: 0;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 14pt;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	/*top: -5px;*/
	left: 55%;
}
@keyframes tipFade {
	from { opacity: 0 }
	to { opacity: 1 }
}
.downRes:hover .tooltiptext {
	animation-name: tipFade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.bleach {
	cursor: pointer;
	color: white;
}
.bleach:link {
	text-decoration: none;
}
.bleach:visited {
	color: white;
	text-decoration: none;
}
.badges {
	font-size: 5em;
	height: 80px;
	margin: 10px;
}
.anchor {
	cursor: pointer;
}
.anchor:link {
	text-decoration: none;
}
.anchor:visited {
	text-decoration: none;
}
.anchor:hover {
	filter: invert(1);
}
.dropCard {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	position: relative; 
	justify-content: center; 
	/*margin-bottom: 100px;*/
	z-index: 1;
}
.dropCard:focus .gitBTN,
.dropCard:focus-within .gitBTN,
.dropCard:hover .gitBTN {
	animation-name: dropGit;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes dropGit {
	from {
		visibility: 0;
		opacity: 0;
		margin-top: 0;
	}
	to {
		visibility: 1;
		opacity: 1;
		margin-top: 85px;
	}
}
.gitBTN {
	position: absolute; 
	z-index: -1; 
	visibility: 0; 
	opacity: 0;
}
.gitBTN:link {
	text-decoration: none;
}
.gitBTN:visited {
	text-decoration: none;
}
.circle {
	z-index: 10;
	border-radius: 50%;
	background-color: white;
	color: black;
	height: 120px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36pt;
}

.purp {
	background-image: url('./images/img_clock1.jpg');
	min-height: 400px;
	width: 100%;
}

/*.resume {
	background-image: url('https://i.pinimg.com/originals/bc/c2/3c/bcc23c62544224bc5133a8f0b728fc99.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 80%;
	height: 100%;
}*/

.clsbtn {
	width: 20px
}

.icon {
	background-image: url('./images/WARFACE.jpg');
	background-size: cover; 
	background-position: 10px 0px; 
	background-repeat: no-repeat; 
	height: 200px; 
	width: 200px; 
	min-width: 200px;
	margin-right: 25px;
}
.card {
	border-style: double;
	border-width: 5px;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 10px; 
	width: 130px; 
	height: 130px; 
	background-size: 80% 80%; 
	background-repeat: no-repeat; 
	background-position: center;
}
.card:hover {
	background-color: pink;
}
.cards {
	margin-left: 25px;
	overflow: auto;
}
.fordeployed, .forupload {
	visibility: hidden;
	position: absolute;
}
.fill {
	position: relative;
	height: 130px;
}
.upbutt {
	border: solid 1px black;
	background-color: lightgrey;
}
.upbutt:hover {
	background-color: grey;
}
.orb {	
	background-color: white;
	width: 100%;
	text-align: center;
}
.synop {
	width: 200px;
	text-align: center;
	height: 100%;
	background-color: white;
}
#app {
	height: 100%;
}
.pressStart {
	font-family: 'Press Start 2P', cursive;

	width: 100%;
}
.barcode {
	/*font-family: 'Ruge Boogie', cursive;*/
	font-family: 'Libre Barcode 39 Text', cursive;
}
.amatic {
	font-family: 'Amatic SC', cursive;
}
.play {
	font-family: 'Play', sans-serif;	
}
.orbi {
	font-family: 'Orbitron', sans-serif;	
}
.ruge {
	font-family: 'Ruge Boogie', cursive;
}
.indie {
	font-family: 'Indie Flower', cursive;
}
.codepro {
	font-family: 'Source Code Pro', monospace;	
}

.contactForm {
	display: flex; 
	flex-direction: column; 
	width: 40%; 
	min-width: 300px;
}
.footerBtns {
	display: flex; 
	justify-content: space-around; 
	align-items: center; 
	min-height: 400px; 
	width: 70%; 
	flex-wrap: wrap; 
	z-index: 1;
}
#scrolltop {
	background-color: lightgrey;
}
.des {
	display: flex; 
	margin: 0px 100px
}
.welcome {
	text-align: center; margin: 0; font-size: 38pt;
}
@media only screen and (max-width: 600px) {
  .circle {
    margin: 0px 30px;
	height: 90px;
	width: 90px;
  }
  .des {
  	background-color: wheat;
  	margin: 0;
  	width: 100%;
  }
  .float {
  	opacity: 0.97
  }
  .welcome {
  	color: wheat;
  }
  #scrolltop {
  	/*background-image: url('./images/img_class.jpg');*/
	background-image: url('./images/img_clock1.jpg');
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	min-height: 100vh;	
  }
  .theLib {
  	background: none;
  	/*background-color: rgba(245, 222, 179, 0);*/
  	background-color: black;
  	/*filter: none;*/
  }
  .bord {
  	background-color: rgba(245, 222, 179, 0.9);
  	margin: 5px 0px;
  	border-radius: 10px;
  	/*width: 100%;*/
  }
  .purp, .school {
  	background-color: none;
  	background: none;
  }
}

body, html {
	margin: 0;
	height: 91%;
}
nav {
	background-color: white
	/*width: 100%;*/
}

/*font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Ruge Boogie', cursive;
font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Play', sans-serif;
font-family: 'Source Code Pro', monospace;*/

