{% extends 'layout.html' %}

{% block body %}
	<div class="amatic" id="scrolltop">
		<nav class="row spaced" style="background-color: black; color: white; font-size: 36pt;">
			<div class="menu lrg">
				<div style="display: flex; justify-content: space-between;">
					<div>Ivan Alvarez</div>
					<div class="naver">
						<!-- <div><a href="/hobbies">/hobbies</a></div> -->
						<div><a class="bleach" href="/projects">/projects</a></div>
						<div><a class="bleach" href="/contact">/contact</a></div>
					{% if session.logged_in %}
						<div><a class="bleach" href="/portal">/portal</a></div>

						<div><a class="bleach" href="/logout">/logout</a></div>
					{% endif %}
					</div>
				</div>
			</div>
		</nav>

	  <div class="school" style="display: flex; justify-content: center; align-items: center;">
	  	<h1 style="text-align: center; margin: 0; font-size: 38pt;">Welcome and ...</h1>
	  </div>

	  <div style="justify-content: center; display: flex; flex-direction: column; align-items: center; width: 100%;">
		<div style="width: 100%;">
		  <div class="float" style="display: flex; justify-content: space-around; width: 100%;">
			<div style="display: flex; margin: 0px 100px">
				<div style="display: flex; height: 100%; justify-content: center; align-items: center;">
					<div class="icon"></div>
				</div>
				<div style="min-width: 150px; font-size: 16pt; margin-top: 20px">
				  <span style="font-size: 50pt; float: left; margin-right: 20px;">Hi</span>
				  Im Ivan, a webdev
				  <p>I favor using nodejs and AWS</p>
				  <p>I prefer tea instead of coffee</p>
				  <p>No dev exp aside from autonomous deployments</p>
				  <p>presented in <a style="font-size: 10pt;" class="pressStart" href="/gallery">Gallery</a></p>
				  <p>and <a class="orbi" href="https://github.com/Alvarian/INTRO" target="_blank">Github</a></p>
				</div>
			</div>
			<div class="down" style="display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: white; flex: 1; min-width: 150px">
			  <p><span class="anchor" id="btn" style="font-size: 16pt; cursor: pointer; border: solid 1px black; background-color: white">View my resume</span></p>
			  <p><a class="anchor" style="font-size: 16pt; cursor: pointer; border: solid 1px black; background-color: white" href="/contact">Contact me</a></p>
			</div>
			<div id="modal" style="display: none; height: 100vh;">
				<div class="modal-content" style="display: flex; justify-content: center; max-width: 400px; flex-direction: column; border-radius: 5px; min-height: 570px;">
					<span class="clsbtn orbi" style="cursor: pointer;">X</span>
					<div style="width: 100%; display: flex; justify-content: center;">	
						<div style="min-width: 200px; width: 90%; min-height: 520px; background-image: url(https://i.pinimg.com/originals/bc/c2/3c/bcc23c62544224bc5133a8f0b728fc99.jpg); background-position: center; background-size: cover; background-position: center;" alt=""></div>
					</div>
					<div class="downRes">
						<a class="anchor" style="color: red" href="" download><i class="fas fa-file-download fa-3x"></i></a>
						<span class="tooltiptext">Download my resume as PDF!</span>
					</div>
				</div>
			</div>
			<script>
				// Get the modal
				var modal = document.getElementById('modal');

				// Get the button that opens the modal
				var btn = document.getElementById("btn");

				// Get the <span> element that closes the modal
				var span = document.getElementsByClassName("clsbtn")[0];

				// When the user clicks on the button, open the modal 
				btn.onclick = function() {
				  modal.style.display = "block";
				}

				// When the user clicks on <span> (x), close the modal
				span.onclick = function() {
				  modal.style.display = "none";
				}

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
				  if (event.target == modal) {
				    modal.style.display = "none";
				  }
				}
			</script>
		  </div>
		</div>

		<div class="purp" style="display: flex; justify-content: center; align-items: center;">
	  		<h1 style="text-align: center; margin: 0; font-size: 34pt; color: wheat">Incorporated...</h1>
		</div>

		<div class="float" style="display: flex; justify-content: space-around; margin: 70px 30px;">
		  <div class="bord">
			<h2>Commonly Used</h2>
			<div class="loopUsed">
				<i class="badges devicon-javascript-plain colored"></i>
				<i class="badges devicon-jquery-plain-wordmark colored"></i>
				<i class="badges devicon-nodejs-plain colored"></i>
				<i class="badges devicon-css3-plain colored"></i>
				<i class="badges devicon-html5-plain colored"></i>
				<i class="badges devicon-python-plain colored"></i>
				<i class="badges devicon-amazonwebservices-plain-wordmark colored"></i>
			</div>
		  </div>
		  <div class="bord">
			<h2>Tried and Understood</h2>
			<div class="loopUnderstood">
				<i class="badges devicon-redis-plain colored"></i>
				<i class="badges devicon-postgresql-plain colored"></i>
				<i class="badges devicon-mongodb-plain-wordmark colored"></i>
				<i class="badges devicon-mysql-plain-wordmark colored"></i>
			</div>
		  </div>
		  <div class="bord">
			<h2>Learning...</h2>
			<div class="loopLoading">
				<i class="badges devicon-cplusplus-plain colored"></i>
				<i class="badges devicon-react-original-wordmark colored"></i>
			</div>
		  </div>
		</div>

	  </div>
	</div>

	<div style="position: relative;">
		<div style="position: absolute;" class="theLib"></div>
		<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
			<div style="display: flex; justify-content: space-around; align-items: center; min-height: 400px; width: 70%; flex-wrap: wrap; z-index: 1">
				<a href="https://github.com/Alvarian/INTRO" class="circle anchor" target="_blank"><i class="fab fa-github"></i></a>
				<a href="https://www.linkedin.com/in/alvarezivan88/" class="circle anchor" target="_blank"><i class="fab fa-linkedin-in"></i></a>
				<a class="circle anchor scrollUp"><i class="fas fa-arrow-up"></i></a>
			</div>
		</div>
	</div>

	<script>
		// SCROLL UP

		document.querySelector('.scrollUp').addEventListener('click', () => {
		    let scrollStep = -window.scrollY / (1000 / 15),
	        	scrollInterval = setInterval(function(){
			        if ( window.scrollY != 0 ) {
			            window.scrollBy( 0, scrollStep );
			        }
			        else clearInterval(scrollInterval); 
	    		}, 15);
	    })
	</script>

{% endblock %}