{% extends 'layout.html' %}

{% block body %}

  <div style="min-width: 400px; margin: 0 50px">
	<div style="margin-top: 100px;">
	  <div class="float" style="display: flex; justify-content: space-between; width: 100%;">

		<div class="icon" style="background-image: url(https://static01.nyt.com/images/2011/11/13/magazine/13duck/13duck-jumbo.jpg); background-size: 100% 100%; height: 200px; width: 200px; min-width: 200px; margin: 0 25px 0 0;"></div>

		<div style="flex: 1; min-width: 150px;">
		  <span style="font-size: 50pt; float: left; margin-right: 20px;">Hi</span>
		  Im a fullstack webdev
		  <p>I favor using nodejs and AWS</p>
		  <p>I prefer tea instead of coffee</p>
		  <p>No dev exp aside from autonomous deployments</p>
		  <p>presented in <a href="/gallery">Gallery</a></p>
		  <p>and <a href="https://github.com/Alvarian/INTRO" target="_blank">Github</a></p>
		</div>

		<div class="down" style="display: flex; align-items: center; justify-content: center; flex: 1; margin: 0 20px;">
		  <h1 style="text-align: center; width: 100%"><a href="https://i.pinimg.com/originals/bc/c2/3c/bcc23c62544224bc5133a8f0b728fc99.jpg">resume</a></h1>
		</div>

	  </div>
	</div>

	<div class="float" style="display: flex; justify-content: space-around;">
	  <div class="bord">
		<h2>Commonly Used</h2>
		<div class="loopUsed"></div>
	  </div>
	  <div class="bord">
		<h2>Tried and Understood</h2>
		<div class="loopUnderstood"></div>
	  </div>
	  <div class="bord">
		<h2>Learning...</h2>
		<div class="loopLoading"></div>
	  </div>
	</div>

  </div>

  <script>
	console.log('app start');
	let used = document.querySelector('.loopUsed');
	let understood = document.querySelector('.loopUnderstood');
	let loading = document.querySelector('.loopLoading');

	let loop = (u,arr) => {
	  for(let i = 0; i < arr.length; i++){
		let el = document.createElement('div');
		el.setAttribute('class', 'badges');
		el.style.backgroundColor = arr[i];
		el.style.height = '75px';
		el.style.width = '75px';
		u.append(el);
	  }
	}
	loop(used, ['red', 'blue', 'yellow']);
	loop(understood, ['purple', 'orange', 'green', 'blue', 'yellow', 'pink', 'grey', 'brown']);
	loop(loading, ['pink', 'grey', 'brown']);
  </script>

{% endblock %}