{% extends 'layout.html' %}

{% block body %}
	<nav class="row spaced barcode" style="background-color: black; color: white; width: 100%; position: fixed;">
		<div class="menu lrg">
			<div class="contactMenu">
				<div class="navName">Ivan Alvarez</div>
				<div class="naver">
					<div><a href="/" class="med bleach">_about</a></div>
					<!-- <div><a href="/hobbies">_hobbies</a></div> -->
					<div><a class="bleach" href="/projects">_projects</a></div>
				{% if session.logged_in %}
					<div><a class="bleach" href="/portal">_portal</a></div>

					<div><a class="bleach" href="/logout">_logout</a></div>
				{% endif %}
				</div>
			</div>
		</div>
	</nav>

	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-image: url('{{ url_for('static', filename='images/img_highest.jpg') }}'); min-height: 100vh; min-width: 300px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
		<h1 class="orbi">Contact</h1>
		<div class="orbi">
			{% include 'includes/_messages.html' %}
		</div>
		<form class="contactForm" action="/contact" method="POST">
			<input class="orbi" style="font-size: 22pt;  color: white; background-color: rgba(0,0,0,0.6);" name="name" type="text" placeholder="Your name">
			<input class="orbi" style="font-size: 22pt;  color: white; background-color: rgba(0,0,0,0.6);" name="email" type="email" placeholder="Your email">
			<textarea class="orbi" style=" color: white; background-color: rgba(0,0,0,0.6);" name="message" id="" cols="30" rows="10" placeholder="Whats Up?"></textarea>
			<input class="orbi" style="font-size: 22pt;  color: white; background-color: rgba(0,0,0,0.5);" type="submit" value="Submit">
		</form>

	</div>

{% endblock %}	