{% extends 'layout.html' %}

{% block body %}
<nav style="padding: 10px 0; font-size: 12pt; background-color: black; color: white;" class="row spaced pressStart">
	<div class="menu lrg">
		<div class="menuLayer">
			<div>Ivan Alvarez</div>
			<div class="naver">
				<div><a class="bleach med" href="/">/about</a></div>
				<!-- <div><a class="bleach" href="/hobbies">/hobbies</a></div> -->
				<div><a class="bleach" href="/contact">/contact</a></div>
			{% if session.logged_in %}
				<div><a class="bleach" href="/portal">/portal</a></div>

				<div><a class="bleach" href="/logout">/logout</a></div>
			{% endif %}
			</div>
			<div class="drop"></div>
		</div>
	</div>
</nav>

<div id="app">
	<h1 class="orb codepro" style="text-align: center;">Project Gallery</h1>
	<div class="row">
		
		<div class="synop">
			<h2 class="orb codepro">Synopsis</h2>
			<div style="height: 70%; font-size: 7pt; margin: 0;" class="pressStart betweened">
				<div style="width: 100%">
					<h3 class="title" style="text-decoration: underline; width: 100%;">Hover Over an App! >></h3>
					<p class="article description">Hover over an app! >></p>
				</div>
				<div class="type">Hover over an app! >></div>	
				<div class="icons"></div>		
			</div>
		</div>

		<div class="cards">
			<div class="gallery gall">
			{% for i in range(0, len) %}
				<div class="dropCard">
					<div style="position: relative;">
						<div style="background-image: url('{{ files[i].icon }}');" class="card card_{{ files[i].id }}"></div>
						<div class="article lay lay_{{ files[i].id }}">
							<h2 class="clickOpen orbi card_{{ files[i].id }}">OPEN</h2>
						</div>
					</div>
					<div style="height: 100px;"></div>
					<!-- GITHUB button -->
					<a class="gitBTN" target="_blank" href={{ files[i].repository }}><i class="fab fa-4x fa-github"></i></a>
				</div>

				<script>
					$(window).ready(() => {
						let clickWin = (e) => {
							let element = e.target.className;
							if(element == 'article lay lay_{{ files[i].id }}' || element == 'clickOpen orbi card_{{ files[i].id }}' || element == 'card card_{{ files[i].id }}'){
								$(".card_{{ files[i].id }}").css('transform', 'scale(1.2)');
								$(".lay_{{ files[i].id }}").css('display','flex');
								$(".description").text('{{ files[i].description }}');
								$(".title").text('{{ files[i].title }}');
								$(".type").text('{{ files[i].projectType }}');
								// console.log('over');
							} else {
								$(".card_{{ files[i].id }}").css('transform', 'scale(1)');
								$(".lay_{{ files[i].id }}").css('transform', 'scale(1)');
								$(".lay_{{ files[i].id }}").css('display', 'none');
								// console.log('out', element);
							}
						}
						if(window.innerWidth <= 600){
							$('.card_{{ files[i].id }}').on('click', (e) => {
								$(".card_{{ files[i].id }}").css('transform', 'scale(1.2)');
								$(".lay_{{ files[i].id }}").css('display','flex');
								$(".description").text('{{ files[i].description }}');
								$(".title").text('{{ files[i].title }}');
								$(".type").text('{{ files[i].projectType }}');
								console.log('lay');

								_.throttle(loadModalContent.bind("{{ files[i].secretKey }}", "{{ files[i].title }}", "{{ files[i].version }}", "{{ files[i].projectType }}", "{{ files[i].website }}", "{{ files[i].id }}"), 1000)
							});
							$(window).on('click', (e) => {
								clickWin(e);
							});
							$(window).on('click', (e) => {
								let element = e.target.className;
								if(element == 'article lay lay_{{ files[i].id }}' || element == 'clickOpen orbi card_{{ files[i].id }}'){

									_.throttle(loadModalContent.bind("{{ files[i].secretKey }}", "{{ files[i].title }}", "{{ files[i].version }}", "{{ files[i].projectType }}", "{{ files[i].website }}", "{{ files[i].id }}"), 1000)
								}
							});
						} else {
							$(window).on('click', (e) => {
								let element = e.target.className;
								if(element == 'article lay lay_{{ files[i].id }}' || element == 'clickOpen orbi card_{{ files[i].id }}'){
									_.throttle(loadModalContent.bind("{{ files[i].secretKey }}", "{{ files[i].title }}", "{{ files[i].version }}", "{{ files[i].projectType }}", "{{ files[i].website }}", "{{ files[i].id }}"), 1000)
								}
							});
							$(window).on('mouseover', (e) => {
								clickWin(e);
							});
						}
					});
				</script>
			{% endfor %}		
			</div>
		</div>
	</div>
</div>
{% endblock %}