<!DOCTYPE html>
<html lang="en">
	<!-- <html lang="en" oncontextmenu="return false"> -->
<head>
	<link rel="shortcut icon" href="#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>Ivan Alvarez</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/modalbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/flexbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Libre+Barcode+39+Text|Orbitron|Press+Start+2P|Ruge+Boogie|Gloria+Hallelujah|Indie+Flower|Play|Source+Code+Pro" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
</head>
<body>
	<script>		
		Window.games = {};
		Window.libs = {};

		$(document).keydown(function(e){ 
    if(e.which === 123){ 
 
       return false; 
 
    } 
});
	</script>

	{% block body %}
	{% endblock %}	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="application/javascript" src="{{ url_for('static', filename='/src/main.js') }}"></script>
	<script type="application/javascript" src="{{ url_for('static', filename='/src/lib/AESdecrypt.bundle.js') }}"></script>
	<script type="application/javascript" src="{{ url_for('static', filename='/src/lib/throttleAndDebounce.bundle.js') }}"></script>

	<script type="text/javascript">
		const { throttle, debounce, decryptAndEval } = Window.libs;
		
		$('input').keypress(function(e){
			if(e.which == 13){
				e.preventDefault();
				$('form').submit();
			}
		});

		let loop2 = (arr, func) => {
			for(let i of arr){
				func(i)
			}
		}

		// MENU TOGGLE
		function tog(){
			let closed = true;
			$('.drop').click(() => {
				if(closed == true){
					$('.dropMenu').css('display','block');
					closed = false;
				} else {
					$('.dropMenu').css('display','none');
					closed = true;
				}
			});

			$(window).click((e) => {
				let clas = e.target.className;
				if(clas == 'drop' || clas == 'dropBtn' || clas == 'lines'){} else {
					$('.dropMenu').css('display','none');
					closed = true;
				}
			})
		}

		// MENU VERSION ON LOAD
		let iters = ["/","/projects","/contact"];
		$(window).ready(() => {
			tog();
			let w = window.innerWidth;
			if(w <= 600){
				$('.naver').css('display', 'none');
				$('.drop').append($('<div></div>').addClass("dropBtn"), $('<div></div>').addClass("dropMenu")).css('display','block');
				loop2(iters, (i) => {
					$('.dropBtn').append($('<div></div>').addClass('lines'));			
					if(i == '/'){
						$('.dropMenu').append($(`<a href="${i}">${i}home</a>`).addClass('bleach'));
					} else {
						$('.dropMenu').append($(`<a href="${i}">${i}</a>`).addClass('bleach'));
					}
				});
			} 
		});

		// MENU VERSION ON RESIZE
		$(window).resize(() => {
			tog();
			let w = window.innerWidth;
			console.log('out',w);
			if(w <= 600){
				console.log('in',w);
				$('.naver').css('display', 'none');
				$('.drop').empty().append($('<div></div>').addClass("dropBtn"), $('<div></div>').addClass("dropMenu")).css('display','block');
				loop2(iters, (i) => {
					$('.dropBtn').append($('<div></div>').addClass('lines'));			
					if(i == '/'){
						$('.dropMenu').append($(`<a href="${i}">${i}home</a>`).addClass('bleach'));
					} else {
						$('.dropMenu').append($(`<a href="${i}">${i}</a>`).addClass('bleach'));
					}
				});
			} else {
				$('.naver').css('display', 'block');
				$('.drop').css('display', 'none');
			}
		});

	</script>

	{% include './includes/modals/project.html' %}
	{% include './includes/modals/web.html' %}
	{% include './includes/modals/present.html' %}
</body>
</html>