<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>Ivan Alvarez</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modalbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flexbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Libre+Barcode+39+Text|Orbitron|Press+Start+2P|Ruge+Boogie|Gloria+Hallelujah|Indie+Flower|Play|Source+Code+Pro" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>

</head>
<body>
	{% block body %}
	{% endblock %}	

	<script type="text/javascript">
		$('input').keypress(function(e){
			if(e.which == 13){
				e.preventDefault();
				$('form').submit();
			}
		})

		let w = window.innerWidth;
		console.log(w);
	</script>
</body>
</html>